# Gradle
.gradle/
build/

# Compiled output (IDE/build)
bin/
out/

# Java
*.class
hs_err_pid*
replay_pid*

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/
.factorypath

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# OS junk
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini